.edge:hover > path, .edge:hover > polygon {
    
    stroke: #1b75b3;

}

.edge:hover > polygon {
    fill: #1b75b3;
}

.popup {
  position: absolute;
  padding: 40px;
  border: solid 1px #ddd;
  border-radius: 20px; 
  background: white;
  text-align: center;
  width: 10%;
}
